@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* *::before, *::after {
    box-sizing: border-box;
} */
body {
    font-family: 'Martian Mono', sans-serif;
    /* width: 100vh; */
}

.jumbotron {
    padding: 90px;
    color: white;
    /* background-color: #2E97A7; */
    background-color: #362FD9;
}

.jumbotron header h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jumbotron p {
    margin-top: 1rem;
    text-align: center;
    justify-content: center;
    /* font-size: 400; */
}

.center {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #1AACAC;
    padding: 5px;
    position: sticky;
    top: 0;
    /* color: white; */
    /* display: inline; */

}

nav ul {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;
padding-inline: 2rem;
padding: 1rem;
gap: 3rem;
position: sticky;
top: 0;
}

p.isi {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
nav ul li {
    list-style-type: none;

}

nav ul li a {
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: white;

}
.content {
    box-shadow: 5px 9px 20px 0px rgb(59, 57, 57);
    margin-top: 1.5rem;
    margin-inline-start: 1.5rem;
    padding: 2rem;
    flex-shrink: 0;
    flex-wrap: nowrap;
    flex-basis: 70%;
    border-radius: 5px;
}

.gambar-wh {
    width: 250px;
    height: 100px;
}

.gambar-shakemap {
    width: 350px;
}

.tengah {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    /* margin-bottom: -1rem; */
}

.rounded {
    border-radius: 5px;
}

.box {
    box-shadow: 1px 3px 9px 1px rgb(0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;

}

h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

main {
    display: flex;
    gap: 1rem;
    margin-inline-end: 1rem;
    justify-content: center;
    /* flex-wrap: wrap; */
}

figure img {
    border-radius: 10px;
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

figure figcaption {
    margin-top: 1rem;
}

aside {
    /* flex: 1; */
    padding-top: 1rem;
    flex-direction: row;
    padding-inline-end: 1rem;
    padding-inline-start: 1rem;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}


footer {
    padding: 30px;
    background-color: #1AACAC;
    text-align: center;
    color: white;
    justify-content: center;
    margin-top: 2rem;
}

.biodata {
    /* display: flex;
    flex-direction: column;
    margin-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.judul {
    text-align: center;
}

@media screen and (max-width: 522px) {
    nav ul li a:hover {
            color: black;
            font-weight: bold;
        }

    main {
        flex-flow: column nowrap;
        padding: 2rem;
    }

    aside {
        align-items: center;
        justify-content: center;
        /* padding-inline-end: 1rem; */
        text-align: center;
    }
}

/* Untuk desktop bang */
@media screen and (max-width: 1500px) {

    nav ul li a:hover {
            background-color: #362FD9;
            border: 17px solid #362FD9;
            border-radius: 5px 15px;
            color: white;
            font-weight: bold;
        }

    aside {
        flex-direction: row;
    }
} 

@media screen and (max-width: 1065px) {
    main {
        flex-flow: column nowrap;
        padding: 2rem;
    }
    
}